src_ip=127.0.0.1                                  action=ip_allow method=ALL
src_ip=::1                                        action=ip_allow method=ALL
src_ip=10.0.0.0-10.255.255.255                    action=ip_allow method=ALL
src_ip=172.16.0.0-172.31.255.255                  action=ip_allow method=ALL
src_ip=192.168.0.0-192.168.255.255                action=ip_allow method=ALL
src_ip=0.0.0.0-255.255.255.255                    action=ip_deny  method=PUSH|PURGE
src_ip=::-ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff action=ip_deny  method=PUSH|PURGE
