# Example configuration file for TS Kubernetes plugins.
#
# Most of the settings in this file can also be given as environment variables,
# which will override anything set here.

### API server configuration
#
# This is required when running outside the cluster, but not necessary when
# running in-cluster; the pod's service account will be used by default.

# Set the hostname and port of the API server to connect to.  Only TLS (https)
# connections are supported.  (Environment variable: $TS_SERVER.)
server: apiserver.mycluster.com:8443

# Optional (but recommended): configure the certificate authority to verify the
# API server connection.  (Environment: $TS_CAFILE.)
cafile: /mnt/c/Users/ft/.kube/kube-prod.ca

# Optional: configure the TLS certificate and key to authenticate to the
# API server.  (Environment: $TS_CERTFILE, $TS_KEYFILE.)
certfile: /mnt/c/Users/ft/.kube/kube-prod.crt
keyfile: /mnt/c/Users/ft/.kube/kube-prod.key

# Optional: configure the bearer token to authenticate to the API server.
# (Environment: $TS_TOKEN.)
#token: ABCD1234

# If you want to change the default ingress class(es), set this.
# (Environment: $TS_INGRESS_CLASSES.)
#ingress_classes: trafficserver nginx

### TLS configuration

# Set this to false to disable TLS.  (Environment: $TS_TLS.)
#tls: false

# Set this to false to disable sending the X-Forwarded-Proto header to the
# backend, indicating the client protocol ("http" or "https").  If this is
# enabled (the default), any existing header in the request will be removed.
#x_forwarded_proto: false

### Remap configuration

# Set this to false to disable remapping.  (Environment: $TS_REMAP.)
#remap: false
