# General request/response rewriting.
header_rewrite.so /usr/local/etc/trafficserver/header_rewrite.config

# Support ESI.
esi.so --first-byte-flush

# Collapse multiple connections for the same resource.
#disabled due to crashing
#collapsed_connection.so 1

# Healthcheck for Kubernetes.
healthchecks.so /usr/local/etc/trafficserver/healthchecks.config

# Serve stale content on origin errors.
#disabled due to memory leak
#stale_while_revalidate.so --force-stale-if-error

# Allow cache status in response.
xdebug.so
