# Kubernetes Ingress support
kubernetes.so

# Support ESI.
esi.so --first-byte-flush

# Collapse multiple connections for the same resource.
#disabled due to crashing
#collapsed_connection.so 1

# Serve stale content on origin errors.
#disabled due to memory leak
#stale_while_revalidate.so --force-stale-if-error
